{% extends 'AttentraWebBundle:Layout:layout.html.twig' %}
{% import 'AttentraWebBundle::Twig/tablesorter.macro.html.twig' as tablesorter %}
{% import 'AttentraWebBundle::Twig/bootstrap.macro.html.twig' as bootstrap %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/attentraweb/css/vendor/fullcalendar/fullcalendar.css'
    'bundles/attentraweb/css/vendor/jquery-plugins/jquery.bootstrap.datepicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets filter='cssrewrite' 'bundles/attentraweb/css/vendor/fullcalendar/fullcalendar.print.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" media='print'/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AttentraWebBundle/Resources/public/js/vendor/fullcalendar/moment.min.js'
    '@AttentraWebBundle/Resources/public/js/vendor/fullcalendar/fullcalendar.min.js'
    '@AttentraWebBundle/Resources/public/js/vendor/fullcalendar/lang-all.js'
    '@AttentraWebBundle/Resources/public/js/vendor/jquery.bootstrap.datepicker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <a href="#" class="btn btn-primary pull-right" id="event-add">{% trans %}Add a new event{% endtrans %}</a>

    <h1>
        {% trans %}Time inputs{% endtrans %}
        {% if identifier %} - <a href="{{ path('attentra_resource_byidentifier', { 'identifier': identifier }) }}">{{ identifier }}</a>{% endif %}
    </h1>

    <div class="clearfix"></div>

    {% if identifiers is defined %}
        <br/>
        <div class="row">
            <div class="col-md-1">
                <label for="agenda-identifier">{% trans %}Resource{% endtrans %}</label>
            </div>
            <div class="col-md-2">
                <select id="agenda-identifier" class="chosen">
                    <option value="">{% trans %}All{% endtrans %}</option>
                    {% for curIdentifier in identifiers %}
                        <option value="{{ curIdentifier.identifier }}" {{ identifier == curIdentifier.identifier ? 'selected' : '' }}>{{ curIdentifier }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br/>
    {% endif %}

    <div id="timeinputs-calendar"></div>

    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
                    <h4 class="modal-title">{% trans %}Event{% endtrans %}</h4>
                </div>
                <div class="modal-body">

                    <p class="alert alert-danger" id="event-errors" style="display: none;"></p>

                    <fieldset>
                        <div class="form-group">
                            <label for="event-identifier" class="control-label required">{% trans %}Identifier{% endtrans %} *</label>

                            <div class="input-group">
                                <input type="text" maxlength="255" required="required" class="form-control" id="event-identifier">
                                <span class="input-group-btn">

                                    <a href="#" class="btn btn-primary" id="event-identifier-link"><span class="glyphicon glyphicon-calendar"></span> {% trans %}Calendar{% endtrans %}</a>

                                     <button type="button" class="btn btn-default dropdown-toggle" id="event-identifier-choose" data-toggle="dropdown">
                                         <span class="caret"></span>
                                         <span class="sr-only">{% trans %}Display identifiers{% endtrans %}</span>
                                     </button>
                                     <ul class="dropdown-menu" id="event-identifier-choose-options" role="menu">
                                         {% for curIdentifier in identifiers %}
                                             <li><a href="#" data-value="{{ curIdentifier.identifier }}">{{ curIdentifier }}</a></li>
                                         {% endfor %}
                                     </ul>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label required" for="event-start-date">{% trans %}Start{% endtrans %} *</label>
                            <input type="hidden" id="event-start-id"/>

                            <div class="datepicker-container">
                                <input type="date" required="required" class="form-control datepicker" id="event-start-date"/>

                                <div class="time_widget">
                                    <input type="time" step="1" required="required" class="form-control" id="event-start-time">
                                </div>

                                <a href="#" target="_blank" class="btn btn-info" id="event-start-link" title="{% trans %}Go to time input{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label required" for="event-end-date">{% trans %}End{% endtrans %} *</label>
                            <input type="hidden" id="event-end-id"/>

                            <div class="datepicker-container">
                                <input type="date" required="required" class="form-control datepicker" id="event-end-date"/>

                                <div class="time_widget">
                                    <input type="time" step="1" required="required" class="form-control" id="event-end-time">
                                </div>

                                <a href="#" target="_blank" class="btn btn-info" id="event-end-link" title="{% trans %}Go to time input{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-primary" id="event-submit">{% trans %}Save changes{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        #timeinputs-calendar .fc-day-grid td:hover { cursor: pointer; background: #eee; }
        #timeinputs-calendar .fc-agendaWeek-view td:hover { cursor: pointer; }
        #timeinputs-calendar .fc-event:hover { cursor: pointer; box-shadow: 0 0 1px #000; }
    </style>

    <script type="text/javascript">
        $(function () {
            var currentIdentifier = "{{ identifier | e('js') }}";
            var $calendar = $('#timeinputs-calendar');
            var $eventModal = $('#event-modal');
            var timeInputLink = "{{ path('attentra_timeinput_show', {id: 0}) }}";
            var calendarLink = "{{ path('attentra_calendar', {identifier: 0}) }}";

            function displayEventForm(_event) {

                if ( !_event ) _event = {};

                if ( !_event.id ) {
                    _event.id = '';
                    _event.identifier = _event.identifier || currentIdentifier;
                    _event.title = _event.title || '';
                    _event.endIsDefined = _event.endIsDefined || false;
                    _event.start = _event.start || '';
                }

                var id = "" + _event.id;

                $('#event-identifier').val(_event.identifier).attr('readonly', _event.identifier != '');

                $('#event-start-id').val(id.split('-').length ? id.split('-')[0] : '');
                $('#event-start-date').val(_event.start ? _event.start.format('YYYY-MM-DD') : '').trigger('keyup');
                $('#event-start-time').val(_event.start ? _event.start.format('HH:mm:ss') : '');
                $('#event-start-link, #event-identifier-link').toggle(_event.start != '');
                $('#event-identifier-choose').toggle(_event.start === '');

                $('#event-end-id').val(_event.endIsDefined && id.split('-')[1] ? id.split('-')[1] : '');
                $('#event-end-date').val(_event.endIsDefined ? _event.end.format('YYYY-MM-DD') : (_event.start ? _event.start.format('YYYY-MM-DD') : '')).trigger('keyup');
                $('#event-end-time').val(_event.endIsDefined ? _event.end.format('HH:mm:ss') : '');
                $('#event-end-link').toggle(_event.endIsDefined).closest('.form-group').toggleClass('has-error', (_event.start != '' && !_event.endIsDefined));

                $eventModal.modal();
            }

            $calendar.fullCalendar({
                lang: $('html').attr('lang'),
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                editable: false,
                eventLimit: true,
                firstDay: 1,
                allDaySlot: false,
                eventSources: [
                    {
                        url: '{{ path('attentra_calendar_fullcalendar', { 'identifier':  identifier}) }}'
                    }
                ],
                dayClick: function (date, jsEvent, view) {
                    if ( view.name === 'month' ) {
                        $calendar.fullCalendar('changeView', 'agendaWeek');
                    } else if ( view.name.toLowerCase().indexOf('week') > -1 ) {
                        $calendar.fullCalendar('changeView', 'agendaDay');
                    } else return;

                    $calendar.fullCalendar('gotoDate', date);
                },
                eventClick: function (calEvent, jsEvent, view) {
                    displayEventForm(calEvent);
                }
            });

            $('#event-start-link').on('click', function () {
                var id = $('#event-start-id').val();
                if ( !id ) return false;
                $(this).attr('href', timeInputLink.replace('/0', '/' + id));
                return true;
            });

            $('#event-end-link').on('click', function () {
                var id = $('#event-end-id').val();
                if ( !id ) return false;
                $(this).attr('href', timeInputLink.replace('/0', '/' + id));
                return true;
            });

            $('#event-identifier-link').on('click', function () {
                var identifier = $('#event-identifier').val();
                if ( !identifier ) return false;
                $(this).attr('href', calendarLink.replace('=0', '=' + identifier));
                return true;
            });

            $('.time_widget input').on('dblclick', function () {
                if ( $(this).val() === "" ) {
                    var d = new Date();
                    $(this).val(('0' + d.getHours()).slice(-2) + ':' + ('0' + d.getMinutes()).slice(-2) + ':' + ('0' + d.getSeconds()).slice(-2));
                }
            });

            $('.datepicker-container > input').on('dblclick', function () {
                if ( $(this).val() === "" ) {
                    var d = new Date();
                    $(this).val(d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2)).trigger('keyup');
                }
            });

            $('#event-submit').on('click', function () {
                $.ajax({
                    method: 'post',
                    url: "{{ path('attentra_calendar_eventupdate') }}",
                    dataType: 'json',
                    data: {
                        identifier: $('#event-identifier').val(),
                        startId: $('#event-start-id').val(),
                        startDate: $('#event-start-date').val(),
                        startTime: $('#event-start-time').val(),
                        endId: $('#event-end-id').val(),
                        endDate: $('#event-end-date').val(),
                        endTime: $('#event-end-time').val()
                    }
                }).fail(function (jqXHR) {
                    //console.log(jqXHR);
                    var errorText = jqXHR.responseJSON ? jqXHR.responseJSON.message : (jqXHR.error ? jqXHR.error : 'Error during the request.');

                    $('#event-errors').text(errorText).show();

                }).done(function (data) {
                    $('#event-errors').hide();
                    $eventModal.modal('hide');
                    $calendar.fullCalendar('refetchEvents');
                });
            });

            $('#event-add').on('click', function () {
                displayEventForm();
            });

            $('#agenda-identifier').on('change', function () {
                document.location = calendarLink.replace('=0', '=' + $(this).val());
            });

            $('#event-identifier-choose-options').find('a').on('click', function () {
                $('#event-identifier').val($(this).attr('data-value'));
            });
        });
    </script>
{% endblock %}
