{% extends 'AttentraWebBundle:Layout:layout.html.twig' %}
{% import 'AttentraWebBundle::Twig/tablesorter.macro.html.twig' as tablesorter %}
{% import 'AttentraWebBundle::Twig/bootstrap.macro.html.twig' as bootstrap %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/attentraweb/css/vendor/jquery-plugins/jquery.bootstrap.datepicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AttentraWebBundle/Resources/public/js/vendor/jquery.bootstrap.datepicker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <h2>
        {% trans %}Time spent{% endtrans %}
        {% if identifier %} - {{ identifier }}{% endif %}
        {#{% if identifier %}- <a href="{{ path('attentra_resource_byidentifier', { 'identifier': identifier }) }}">{{ identifier }}</a>{% endif %}#}
    </h2>

    <div class="form-inline">
        <label for="planning-start-date">{% trans %}Start{% endtrans %}</label>
        <input type="date" class="datepicker form-control" value="{{ start.format('Y-m-d') }}" id="planning-start-date"/>

        <label for="planning-end-date">{% trans %}End{% endtrans %}</label>
        <input type="date" class="datepicker form-control" value="{{ end.format('Y-m-d') }}" id="planning-end-date"/>

        <label for="display-seconds">{% trans %}Display seconds{% endtrans %}</label>
        <input type="checkbox" id="display-seconds">
    </div>

    {% if identifiers is defined %}
        <br/>
        <div class="row">
            <div class="col-md-1">
                <label for="planning-identifier">{% trans %}Resource{% endtrans %}</label>
            </div>
            <div class="col-md-4">
                <select id="planning-identifier" class="chosen">
                    <option value="">{% trans %}All{% endtrans %}</option>
                    {% for curIdentifier in identifiers %}
                        <option value="{{ curIdentifier.identifier }}" {{ identifier == curIdentifier.identifier ? 'selected' : '' }}>{{ curIdentifier }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}

    {% if timeSpentManager.hasFullPeriod('year') %}
        <hr/>
        <h2>{% trans %}By year{% endtrans %}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                {% for day in timeSpentManager.datePeriod('year') %}
                    {% if timeSpentManager.isPeriodFull('year', day) %}
                        <tr>
                            <td>{{ day.format('Y') }}</td>
                            <td>{{ bootstrap.duration(timeSpentManager.getSpentTimeIntervalByPeriod('year', day).toSeconds) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <hr/>
    <h2>{% trans %}By month{% endtrans %}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            {% for day in timeSpentManager.datePeriod('month') %}
                {% if timeSpentManager.isPeriodFull('month', day) or timeSpentManager.isLastPeriod('month', day) %}
                    <tr class="{{ not timeSpentManager.isPeriodFull('month', day) ? 'danger' : '' }}">
                        <td>{{ day.format('F Y') }}</td>
                        <td>{{ bootstrap.duration(timeSpentManager.getSpentTimeIntervalByPeriod('month', day).toSeconds) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <hr/>
    <h2>{% trans %}By week{% endtrans %}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            {% for day in timeSpentManager.datePeriod('week') %}
                {% if timeSpentManager.isPeriodFull('week', day) or timeSpentManager.isLastPeriod('week', day) %}
                    <tr class="{{ not timeSpentManager.isPeriodFull('week', day) ? 'danger' : '' }}">
                        <td>
                            ({{ day.format('W') }})
                            {{ timeSpentManager.getPeriodStartDate('week', day).format('j F') }} -
                            {{ timeSpentManager.getPeriodEndDate('week', day).format('j F Y') }}
                        </td>
                        <td>{{ bootstrap.duration(timeSpentManager.getSpentTimeIntervalByPeriod('week', day).toSeconds) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <hr/>
    <h2>{% trans %}By day{% endtrans %}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            {% for day in timeSpentManager.datePeriod('day') %}
                {% if timeSpentManager.isPeriodFull('day', day) %}
                    <tr class="{{ day.format('N') > 5 ? 'info' : '' }}">
                        <td>{{ day.format('l j F') }}</td>
                        <td>{{ bootstrap.duration(timeSpentManager.getSpentTimeIntervalByPeriod('day', day).toSeconds) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <script type="text/javascript">
        $(function () {
            var $start = $('#planning-start-date');
            var $end = $('#planning-end-date');
            var $identifier = $('#planning-identifier');
            var planningUrl = "{{ path('attentra_planning') }}";

            function refresh() {
                document.location = planningUrl + '?identifier=' + $identifier.val() + '&start=' + $start.val() + '&end=' + $end.val();
            }

            $start.on('changeDate', refresh);
            $end.on('changeDate', refresh);
            $identifier.on('change', refresh);

            $('#display-seconds').on('change', function () {
                $('.duration-seconds').toggle($(this).is(':checked'));
            }).change();
        });
    </script>
{% endblock %}
