{% extends 'AttentraWebBundle:Layout:layout.html.twig' %}
{% import 'AttentraWebBundle::Twig/tablesorter.macro.html.twig' as tablesorter %}
{% import 'AttentraWebBundle::Twig/bootstrap.macro.html.twig' as bootstrap %}

{% block stylesheets %}
    {{ parent() }}
    {{ tablesorter.include_css() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tablesorter.include_js() }}
{% endblock %}

{% block body %}
    <h1>{% trans %}Time inputs{% endtrans %}{% if identifier %} - {{ identifier }}{% endif%}</h1>

    {% if pagination is empty %}
        {{ tablesorter.no_record('attentra_timeinput_new', 'Add a new input' | trans) }}
    {% else %}
        <a class="btn btn-primary pull-right" href="{{ path('attentra_timeinput_new') }}"><span class="glyphicon glyphicon-plus"></span> {% trans %}Add a new input{% endtrans %}</a>
        <div class="clearfix"></div>
        <br/>
        <div class="table-responsive">
            <table class="table table-bordered tablesorter-bootstrap tablesorter-knppaginator">
                <thead>
                <tr>
                    <th>{{ bootstrap.knp_pagination_chevron(pagination, 't.datetime', 'Date' | trans) }}</th>
                    <th>{{ bootstrap.knp_pagination_chevron(pagination, 't.identifier', 'Identifier' | trans) }}</th>
                    <th>{{ bootstrap.knp_pagination_chevron(pagination, 't.type', 'Type' | trans) }}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
                </thead>
                {{ bootstrap.knp_pagination_footer(pagination, 4) }}
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td><a href="{{ path('attentra_timeinput_show', { 'id': entity.id }) }}">{{ entity.datetime | date('Y-m-d H:i:s') }}</a></td>
                        <td>{{ entity.identifier }}</td>
                        <td>{{ entity.type }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="{{ path('attentra_timeinput_show', { 'id': entity.id }) }}" title="{% trans %}Show{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="btn btn-default" href="{{ path('attentra_timeinput_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
